body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #fff0f5, #ffe6f0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #d6336c;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(214, 51, 108, 0.2);
}

button {
  background: #ff4d6d;
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #d6336c;
}
.screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(214, 51, 108, 0.15);
  cursor: pointer;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}
